#img {
height: 250px; 
width:  219px;
}

#img1 {
height: 250px; 
width:  219px;
}

#img2 {
height: 250px; 
width:  219px;
}

#img3 {
height: 250px; 
width:  219px;
}

#img4 {
height: 250px; 
width:  219px;
}

#img5 {
height: 250px;
width:  219px;
}